{% load thumbnail %}
{% load user_filters %}
<div class="card bg-light" style="width: 100%">
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img-top" src="{{ im.url }}">
    {% endthumbnail %}
    <div class="card-body">
      <h4 class="card-title">Заголовок</h4>
      <p class="card-text">
        {{ post.text|linebreaksbr }}
      </p>
      {% if post.author == requser %}
        <a class="btn btn-primary" href="{% url 'posts:edit' post.id %}">
          Редактировать запись
        </a>
        {% if user.is_authenticated %}
          <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body">
              <form method="post" action="{% url 'posts:add_comment' post.id %}">
                {% csrf_token %}      
                <div class="form-group mb-2">
                {{ form.text|addclass:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
        {% endif %}
      {% endif %}
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
            <p>
              {{ comment.text }}
            </p>
          </div>
        </div>
      {% endfor %}
  </div>