{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Хасан!</h1>
<p>
  Я изучаю программирование на Python и мне это очень нравится,хоть это и сложно!
</p>
<p>
    Так как я не знаю что здесь написать,я просто сделаю парочку абзацев с текстом!
</p>
<p>
    Я бы еще добавил картинку с котиком, но у меня сейчас нет интернета и я пишу код оффлайн!
</p>
<hr>
<h1>Мои соц сети</h1>

<p>Я в <a href='https://vk.com/stooooormyy' target=_blank >VK</a></p>
<p>Я в Instagram: _sto0ormy_</p>
<p>Почта: stooormy@yandex.ru </p>
<p>Я в <a href='https://github.com/stooormy235' target=_blank >GitHub</a></p>
{% endblock %}